<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/main/head') %>
  </head>
<body ng-app="mainapp" ng-controller="mainController">
<div id="header">
	<div class="container">
		<!-- Header -->
		<%- include('../partials/main/header') %>
	</div>
</div>		
<div id="mainBody">
	<div class="container">
	<div class="row">
		<!-- Content of the main part -->
		<%- include('../checkout/'+pagename) %>
		<!-- End of Content -->

		</div>
	</div>
</div>
<%- include('../partials/main/footer') %>

<script src="<%= '/js/checkout/'+pagename+'.js' %>" ></script>
</body>
</html>