<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/main/head') %>
  </head>
<body ng-app="mainapp" ng-controller="mainController">
<div id="header">
	<div class="container">
		<!-- Header -->
		<%- include('../partials/main/header') %>
		<!-- Advertisement -->
		<%- include('../partials/main/carousel') %>
	</div>
</div>		
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
	<%- include('../partials/main/sidebar') %>
<!-- Sidebar end=============================================== -->

		<!-- Content of the main part -->
		<%- include('../main/'+pagename) %>
		<!-- End of Content -->

		</div>
	</div>
</div>
<%- include('../partials/main/footer') %>
<script src="<%= '/js/main/'+pagename+'.js' %>" ></script>
</body>
</html>